/* css snippet to help align the antd spinner in the parent row */
.ant-spin-nested-loading,
.ant-spin-nested-loading > div:first-child,
.ant-spin-spinning,
.ant-spin-container {
  display: inline !important;
}

.ant-table-row.ant-table-row-level-0 {
  vertical-align: top !important;
}

/* styling for Biosamples and Experiments tabs */

.experiment_and_results {
  margin-bottom: 25px;
}

.experiment_and_results .ant-divider{
  margin-top: 50px;
  margin-bottom: 50px;
}

.biosamples-descriptions {
  display: inline-block;
}

.biosamples-descriptions .ant-descriptions-title {
  color: #1990ff;
}

.biosamples-descriptions .ant-descriptions-item-content {
  padding: 8px 16px !important;
}

.ant-descriptions-item-no-label {
  display: none;
}

.ant-descriptions-item-label.ant-descriptions-item-colon {
  width: 200px;
  padding: 8px 16px !important;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label,
.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
  padding: 0;
  border-spacing: 0px;
  /* border: 0;
  box-shadow: 0 0 0 1px #e8e8e8; */
}

/* selector for nested descriptions */
.ant-descriptions-view .ant-descriptions-view {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.ant-descriptions-view .ant-descriptions-view .ant-descriptions-item-content {
  padding: 8px 16px;
  border-spacing: 0;
  border: 0;
  border-top: 0;
  border-bottom: 0;
}


.ant-descriptions-title {
  margin: 0;
  /* padding-left: 15px; */
  background-color: #fafafa;
  font-size: 14px;
  padding: 8px 15px;
}

.ant-descriptions-title {
  margin: 0;
  padding-left: 15px;
  background-color: #fafafa;
  font-size: 14px;
}

.ant-descriptions-view {
  border-radius: 0;
}

.ant-descriptions-title {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.ant-descriptions-row {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

/* div.ant-descriptions-view > table {
  border-spacing:
} */

.experiment_summary {
  display: flex;
  margin-bottom: 25px;
}

/* box shadow instead of borders for automatic border collapse on adjacent items */
.experiment_summary > :last-child > * {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.experiment_summary > :first-child > * {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.experiment-titles {
  padding: 0px 0px 8px 17px;
}

.other-details .ant-descriptions-item-label {
  padding: 0px 10px !important;
}

.other-details .ant-descriptions-item-content {
  padding: 0px 10px !important;
}

.other-details-click {
  color: #1990ff;
}

.experiment_and_results .ant-table-content {
  display: inline-block;
} 
