/* css snippet to help align the antd spinner in the parent row */
.ant-spin-nested-loading,
.ant-spin-nested-loading > div:first-child,
.ant-spin-spinning,
.ant-spin-container {
  display: inline !important;
}

.ant-table-row.ant-table-row-level-0 {
  vertical-align: top !important;
}

/* Phenotypic Features tab */

.phenotypic-features-table td[colspan="2"] {
  /*background-color: red;*/
  border-top: 2px solid #e8e8e8;
}

/* Variants tab */

.variantDescriptions .ant-descriptions-item-label{
  vertical-align: top;
}

/* Biosamples and Experiments tabs */

.experiment_and_results {
  margin-bottom: 25px;
}

.experiment_and_results .ant-divider{
  margin-top: 50px;
  margin-bottom: 50px;
}

.biosamples-descriptions {
  display: inline-block;
}

.biosamples-descriptions .ant-descriptions-title {
  color: #1990ff;
}

.biosamples-descriptions .ant-descriptions-item-content {
  padding: 8px 16px !important;
}

.ant-descriptions-item-no-label {
  display: none;
}

.ant-descriptions-item-label.ant-descriptions-item-colon {
  width: 200px;
  padding: 8px 16px !important;
}

/* selector for nested descriptions */
.ant-descriptions-view .ant-descriptions-view {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.ant-table-expanded-row .ant-descriptions-item-content {
  background-color: white;
}

.ant-descriptions-view .ant-descriptions-view .ant-descriptions-item-content {
  padding: 8px 16px;
  border-spacing: 0;
  border: 0;
  border-top: 0;
  border-bottom: 0;
}

.experiment_summary {
  display: flex;
  margin-bottom: 25px;
  gap: 12px;
}

/* box shadow instead of borders for automatic border collapse on adjacent items */
.experiment_summary > :last-child > * {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.experiment_summary > :first-child > * {
  border: 0;
  box-shadow: 0 0 0 1px #e8e8e8;
}

.experiment-titles {
  padding: 0 0 8px 17px;
}

.other-details .ant-descriptions-item-label {
  padding: 0 10px !important;
}

.other-details .ant-descriptions-item-content {
  padding: 0 10px !important;
}

.other-details-click {
  color: #1990ff;
}

.experiment_and_results .ant-table-content {
  display: inline-block;
}
