.json-view {
    color: #002b36;
    --json-property: #002b36;
    --json-index: #6c71c4;
    --json-number: #268bd2;
    --json-string: #cb4b16;
    --json-boolean: #2aa198;
    --json-null: #dc322f;
}
