<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/icon_small.png" type="image/png" />
    <script type="text/javascript">
        // I separated this definition from static/config.js for backwards
        // compatibility for older BentoV2 instances.
        //     - David L, 2023-01-03
        // - define an empty global as a fallback for what ends up in the BENTO_WEB_CONFIG global
        // - leave it mutable so static/config.js can override it
        let BENTO_WEB_CONFIG = {};
    </script>
    <script src="<%= webpackConfig.output.publicPath %>static/config.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root"></div>
</body>
</html>
