name: Build and push bento-web

on:
  release:
    types: [ published ]
  pull_request:
    branches:
      - master
      - qa/**
      - releases/**
      - feat/**
  push:
    branches:
      - master

jobs:
  build-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Bento build action
        uses: bento-platform/bento_build_action@v1.0.0
        with:
          registry: ghcr.io
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          image-name: ghcr.io/bento-platform/bento_web
          development-dockerfile: dev.Dockerfile
          dockerfile: Dockerfile
